{% extends "layout.html" %}
{% block content %}
    <div class="row">
      <div class="col-sm-12">
        <h3>Edit workout</h3>
        <form class="form-horizontal" method="POST" action="/form_data">
            <input type="hidden" name="id" value="{{ workout.id }}">
              <div class="form-group">
                <label class="control-label col-sm-2" for="name">Name:</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" name="name" id="name" value="{{ workout.name }}">
                </div>
              </div>

              <div class="form-group">
                <label class="control-label col-sm-2" for="description">Description:</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" id="description" name="description" value="{{ workout.description }}">
                </div>
              </div>

              <div class="form-group">
                <label class="control-label col-sm-2" for="length">Length:</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" id="length" name="length" value="{{ workout.length }}">
                </div>
              </div>

              <div class="form-group">
                <label class="control-label col-sm-2" for="video">Video url:</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" id="video" name="video" value="{{ workout.video_url}}">
                </div>
              </div>

              <div class="form-group">
                <label class="control-label col-sm-2" for="type">Workout's type:</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" id="type" name="type" value="{{ workout.type }}">
                </div>
              </div>

              <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                  <button type="submit" class="btn btn-primary">Save!</button>
                </div>
              </div>
        </form>
      </div>
    </div>
{% endblock content %}