{% extends "layout.html" %}
{% block content %}
{% if show_msg %}
    <div class="alert alert-success">
      <strong>Success!</strong> {{ msg }}
    </div>
{% endif %}
    <!-- Jumbotron Header -->
    <header class="jumbotron my-4">
      <h1 class="display-3">Welcome!</h1>
      <p class="lead">These are your workouts!</p>
    </header>

    <!-- Page Features -->
    <div class="row text-center">
    {% for workout in workouts %}
      <div class="col-lg-3 col-md-6 mb-4">
        <div class="card h-100">
          <img class="card-img-top" src="{{ workout.get_img_url() }}" alt="">
          <div class="card-body">
            <h4 class="card-title">{{ workout.name }}, {{ workout.type }} </h4>
            <p class="card-text">{{ workout.description }}, {{ workout.length }} min </p>
          </div>
          <div class="card-footer">

            <button type="button" class="btn btn-success btn-sm" data-toggle="modal" data-target="#myModal_{{ workout.id }}">
              <i class="fas fa-play"></i>
            </button>


            <button type="button" class="btn btn-primary btn-sm" onclick="location.href='/editWorkout/{{ workout.id }}'">
              <i class="far fa-edit"></i>
            </button>

            <button type="button" class="btn btn-danger btn-sm" onclick="location.href='/delete/{{ workout.id }}'">
              <i class="far fa-trash-alt"></i>
            </button>
          </div>
        </div>
      </div>
        <!-- The Modal -->
        <div class="modal" id="myModal_{{ workout.id }}">
          <div class="modal-dialog modal-lg">
            <div class="modal-content">

              <!-- Modal Header -->
              <div class="modal-header">
                <h4 class="modal-title">{{ workout.name }}</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
              </div>

              <!-- Modal body -->
              <div class="modal-body">
                {{ workout.get_video_frame()|safe }}
              </div>

              <!-- Modal footer -->
              <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
              </div>

            </div>
          </div>
        </div>
  {% endfor %}
        </div>
    <!-- /.row -->
{% endblock content %}

